$def with(s)
<!DOCTYPE html> 
<html>
<head>
	<title>index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"  href="../static/jquery.mobile-1.4.5.min.css" />
	<script src="../static/jquery.min.js"  ></script>
	<script  src="../static/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<div class="ui-grid-b"> 
    <div class="ui-block-a"><div class="ui-bar ui-bar-e" style="height:60px">Block A</div></div> 
    <div class="ui-block-b"><div class="ui-bar ui-bar-e" style="height:60px">Block B</div></div> 
    <div class="ui-block-c"><div class="ui-bar ui-bar-e" style="height:60px">Block C</div></div> 

</div>
</body>
</html>